.greennote {
    margin-top: 10px;
}


.greennote-card {
    height: 170px;
    color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.greennote-card .greennote-card-text .greennote-card-title p {
    font-size: 13px;
    border-bottom: 1px solid rgb(201, 183, 183);
    padding-top: 8px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: auto;
}
.greennote-card .greennote-card-text .greennote-card-location p {
    font-size: 10px;
    border-bottom: 1px solid rgb(201, 183, 183);
    padding-top: 8px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: auto;
}
.greennote-card .greennote-card-text .greennote-card-task p {
    font-size: 10px;  
    border-bottom: 1px solid rgb(201, 183, 183);
    padding-top: 8px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: auto;
}

.greennote-card .greennote-card-text .greennote-card-work p {
    font-size: 10px;
    border-bottom: 1px solid rgb(201, 183, 183);
    padding-top: 8px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: auto;
}

.greennote-card-action {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-small {
    height: 25px;
    line-height: 25px;
    font-size: 10px;
}





